<phpunit bootstrap="tests/bootstrap.php">
    <coverage processUncoveredFiles="true">
        <include>
          <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuite name="tests">
        <directory suffix="Test.php">tests</directory>
    </testsuite>
</phpunit>
